$color-principal: rgb(113, 0, 189);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background: url("../../Assets/3x/image3A17866_Glitch.jpg");
  background-attachment: fixed;
  background-size: cover;
}
