main .main__contentPresentation--presentation p {
  font-size: 2.5rem;

  line-height: 3rem;
}

main .main__contentLogos .main__contentLogos--logos img {
  height: 120px;
//   max-height: 120px;
  margin: 10px;
}
